extends layout

block content
  h2 Home
  if loggedIn
    p Welcome back, #{loggedInUser.username}!
  ul
    each video in videos
      li
        a(href=`/videos/${video._id}`) #{video.title}
        p Views: #{video.views}
