doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Wetube Clone
    link(rel="stylesheet", href="/css/styles.css")
  body
    header
      h1 
        a(href="/") Wetube Clone
      nav
        if loggedIn
          p Welcome, #{loggedInUser.username}!
          a(href="/users/edit-profile") Edit Profile
          a(href="/users/change-password") Change Password
          a(href="/videos/upload") Upload
          a(href="/users/logout") Logout
        else
          a(href="/login") Login
          a(href="/join") Join
    main
      block content
